/* Dit bestand noemt master.css om dat dit de meest gebruikte naam is, idk waarom eigenlijk. */

/*
Padding & Margin (wordt overal gebruikt, is essentieel in design zowel online als offline)


padding = spatie tussen element inhoud en element border/rand
margin = spatie rond element border/rand 

Een duidelijke foto over padding & margin https: //static.javatpoint.com/csspages/images/margin-padding.png

Goeie uitleg: https://www.javatpoint.com/margin-vs-padding
*/
body {
    margin: 0; /**/
}
header {
    background-color: gray;
    color: white;
    padding: 15px;
}
header > h1 /* > is een soort selector, dit betekent: pak alle <h1> elementen die zich in een <header> bevinden */ {
    margin-top: 0;
}
a {
    text-decoration: none;
}
a:hover /* :hover is een selector, wanneer jeje muis over een element (<a></a> in dit geval) doet, wordt dit geactiveerd */ {
    text-decoration: underline;
}
footer {
    background-color: gray;
    color: white;
    padding: 15px;
}